@import url('https://api.fontshare.com/v2/css?f[]=general-sans@400,600,700&f[]=playfair-display@400,700,800,900&display=swap');

.font-italic {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 800;
}

#horizontal-scroll-container {
    overflow-x: hidden;
}

#horizontal-track {
    will-change: transform;
}
